* {
  margin: 0;
  padding: 0;

}

html {
  background-color: #c3d2d5;
  display: block;
}

section {
  background-color: #c3d2d5;
  padding: 20px 0 0 20px;
}

#searchbar {
  width: 140px;
}

#search-button {
  background-color: #a2708a;
  padding: 3px 9px;
  border-radius: 6px;
}

#search-button:hover {
  background-color: #c3d2d5;
}

.title {
  background-color: #c3d2d5;
  width: 160px;
  color: #824670;
  font-size: 10px;
  padding-right: 20px;
}

#logo {
  position: fixed;
  width: 12%;
  height: 53px;
  padding: 20px 0;
  background-color: #c3d2d5;
  z-index: 2;
}

#navbar {
  position: fixed;
  display: flex;
  text-align: right;
  width: 100%;
  padding: 20px 0;
  background-color: #c1f7dc;
  z-index: 2;
}

#navbar a , #navbar p {
  text-decoration: none;
  padding: 10px 40px;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  color: #824670;
  border-radius: 4px;
}

#navbar p {
  text-align: right;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #824670;
  color: #c1f7dc;
}

#navbar a:focus {
  background-color: #45a4a4;
}

.navbar-right {
  position: absolute;
  right: 20px;
}

#sidebar {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background-color: #c1f7dc;
  overflow-x: hidden;
  padding: 12px 4px;
  margin-top: 120px;
  border-radius: 10px;
}

#sidebar a {
  text-decoration: none;
  color: #2196F3;
  display: inline;
}

#sidebar a:hover {
  color: #064579;
}

#something-free {
  display: inline;
  width: 80px;
}

.content {
  padding: 100px 190px 0 240px;
  display: block;
  color: #8a4f7d;
}

.recipe-list-item-box {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.recipe-list-item-img {
  width: 30%;
  height: 180px;
  float: left;
}

.recipe-list-item-img img {
  height: 80%;
}

.recipe-list-item-ingredients {
  margin-left: 30%;
  height: 180px;
}

#welcome-section {
  margin-top: -60px;
}

.project-tile {
  display: flex;
  width: 100%;
  justify-content: center;
}

.project-box {
  background-color: #789;
  height: 300px;
  width: 300px;
  margin: 0 12px;
}

.project-box img {
  position: block;
  height: 290px;
  width: 290px;
  margin: 5px;
}

h1 {
  font-family: Helvetica;
  padding: 10px 0;
}

main {
  padding-top: 57px;
}

#profile-link {
  text-decoration: none;
  color: #cee;
}

@media screen and (max-width: 600px) {
  .project-box {
    position: block;
  }
}

footer {
  display: block;
  bottom: 0;
}
